/* src/styles/global.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #333;
}

/* Estilos para Formularios */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos específicos para componentes */

/* Register y Login */
.register-form,
.login-form {
    margin-bottom: 20px;
}

.register-input,
.login-input {
    margin-bottom: 10px;
}

.register-button,
.login-button {
    margin-top: 10px;
}

/* ReservationForm */
.reservation-form input {
    margin-bottom: 10px;
}

.reservation-form button {
    margin-top: 10px;
}

/* ReservationList */
.reservation-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

.reservation-list h2 {
    margin-bottom: 15px;
}

.reservation-list ul {
    list-style-type: none;
    padding: 0;
}

.reservation-list li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.reservation-list li:last-child {
    border-bottom: none;
}
